.memo	{
	padding	:	8px 0px 0px 0px;
	margin	:	initial;	
}

td{
	border:		0px none !important;
	padding:	0 !important;
}

p .memo	{
	margin:		4px 6px 4px !important;
}

th		{
	border-bottom-width:	1px !important;
}

.text	{
	box-shadow			:	none;
	border				:	none;
	background-color	:	transparent !important;
}

.panel {
	margin-bottom:	2px;
	border-radius:	0px;
}

.panel-heading {
	border-radius:	0px;
	background-image:	none !important;
	background-color:	#d9534f !important;
	color:			#fff !important;
}

.panel-body {
	font-size:	small;
	padding:	2px;
	padding-left:	8px;
	padding-right:	8px;
}